{% extends 'LSRS/base.html' %} {% block title %}取消预约{% endblock %} {% block body %}
<div class="container">
   
    <div class="row">
        <div class="col-md-12">
            <h1>取消预约</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="reserve_id">预约ID:</label>
                    <select name="reserve_id" id="reserve_id" class="form-select"  required>
                    <option value="" disabled selected>请选择预约</option>
                          {% for rsv in rsvs %}
                            <option value="{{ rsv.reservation_id }}">座位号：{{ rsv.seat_id }}开始时间：{{rsv.start_time}}结束时间：{{rsv.end_time}}</option>
                          {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">取消预约</button>
            </form>
        </div>
    </div>
    <p class="text-danger">{{ message}}</p>
</div>
{% endblock %}
